# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment
.env
venv/
.env.*

# macOS / Linux
.DS_Store

# Windows
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Logs and outputs
*.log
